/********************
Componente side-box
********************/
.side-box {
    width: 100%;
  }
  .side-box > h3 {
    color: #984447;
    border-bottom: solid 1px #add9f4;
  }
  
  /********************
  Componente side-pesquisa
  ********************/
  .side-pesquisa {
    display: inline-block;
  }